<h1>{{listing?.name}}</h1>
<h2 *ngIf="city_name && state_name">{{city_name}}, {{state_name}}</h2>

<h3>Details:</h3>
<ng-container *ngIf="listing; else listingLoading">
    <pre>
        {{ listing | json }}
    </pre>
</ng-container>
<ng-template #listingLoading>
Loading...
</ng-template>


