/* Header */
header{
    padding: .4rem .8rem;
    display: flex;
    border-bottom: solid 1px rgba(0, 52, 102, 0.17);
    height:1.4rem;
    color: #fff;
    background-color: #CB2026;
}
.header-tools {
    flex-grow: 62;
    height:100%;
}
.right .header-tool {
    padding-left: .6rem;
}
.left .header-tool {
    padding-right: .6rem;
}
.right {
    text-align: right;
    
}
.left {
    text-align: left;
}
.header-center {
    flex-grow: 48;
}
#search-container input[type="text"] {
    padding-left: 1.2rem;
    font-size: .6rem;
    line-height: 1rem;
    width: 15rem;
}   
#search-container {
    position: relative;
}
#search-container i{
    position: absolute;
    left:3px;
    top:3px;
    color: #383838;
    font-size: .7rem;
}
#user-location {
    padding-left: 1rem;
}
.user-distance, .user-city {
    font-size: .6rem;
    text-align: center;
    line-height: .7rem;
}
.header-tool{
    height:100%;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
}

/* Main Content */
#main-content {
    padding: .4rem .8rem;
}
