<header>
  <div class="header-tools left">
    
    <div class="header-tool" title="go to homepage">
        <img width="18rem" src="assets/credibytes0white0outline.png">
    </div>
  </div>
  <div class="header-center">
      <div class="header-tool" title="search">
          <label id="search-container" for="search">
            <i class="icon-search"></i>
            <input id="search" type="text" placeholder="Search 10mi from Current Location">
          </label>
          
      </div>
      <div class="header-tool" id="user-location" title="location">
          <div class="user-city">ATL</div>
          <div class="user-distance">10mi</div>
      </div>
      <div class="header-tool">
          <i class="icon-map-marker"></i>
      </div>

  </div>
  <div class="header-tools right">
      <div class="header-tool" title="login" (click)="login()">
          <i class="icon-user"></i>
      </div>
      <div class="header-tool" title="toggle menu">
        <i class="icon-menu"></i>
      </div>
  </div>
</header>
<section id="main-content">
  <!-- <pre>{{ location | json }}</pre> -->
  <router-outlet></router-outlet>
</section>

