/* You can add global styles to this file, and also import other style files */
body, pre {
    margin: 0;
    font-family: 'Secular One', sans-serif;
}
html {
    color: rgb(0, 52, 102);
}
a {
    text-decoration: none;  
}
