.genre-card {
    flex-grow: 1;
    width: 20%;
    height: 3rem;
    overflow: hidden;
    text-overflow: ellipsis;
}
#genres {
    height: 10rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    overflow-y: hidden;
    overflow-x: auto;
}

#top-rated {
    height: 10rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.listing-card {
    flex-grow: 1;
    height: 15rem;
    outline: solid rgb(197, 197, 197) 1px;
    margin-left: 1rem;
    position: relative;
    cursor: pointer;
}
.listing-card:hover {
    outline: solid black 1px
}

.listing-card-link {
    display: block;
    
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    padding: .6rem;
}
.listing-card-image {
    height: 60%;
}
.listing-card-info {
    height: 40%;
}
.listing-name {
    
}