<h1>Find the Best Resaurants in {{ city_name }}, {{ state_name }}</h1>


<h2>Genres</h2>
<section id="genres">
  <div class="genre-card" *ngFor="let genre of genres">
    <a>{{genre}}</a>
  </div>
</section>

<h2>Top Rated Resaurants</h2>
<section id="top-rated">
  <ng-container *ngIf="listings; else loadingTopRated">
    <div class="listing-card" *ngFor="let listing of listings">
      <a class="listing-card-link" [routerLink]="'listing/' + listing.url_name">
          <div class="listing-card-image"></div>
          <div class="listing-card-info">
              <div class="listing-name">{{listing.name}}</div>
          </div>
      </a>
    </div>
  </ng-container>
  <ng-template #loadingTopRated>
    Loading...
  </ng-template>
</section>